.home-style {
  text-align: center;
}

.search-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container form {
  max-width: 800px;
  margin: auto;
}

.search-container form input {
  border-radius: 50px 50px;
  padding: 1.3rem;
}
