.home-style {
  text-align: center;
}

.search-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container form {
  max-width: 800px;
  margin: auto;
}

.search-container form input {
  border: 1px solid #dfe1e5;
  border-radius: 50px 50px;
  padding: 1.3rem;
  outline: none;
}
.search-container form input:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.18);
}
.search-container form input:focus {
  border-color: #dfe1e5;
  outline: none;
  color: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.18);
}
.search-container form button {
  margin-top: 15px;
  padding: 7px 25px;
}
